/* ==========================================================================
Викарчук Алексей
========================================================================== */
html{
	background-color:black;
	background-image:#pch6;
}
@media only screen and (max-width: 768px) {

    body {
        background-size: contain; 
    }
    
}

body {
    background-image: url("bakgaround.jpg"); 
    background-size:cover ; 
    background-position: center; 
    background-repeat: no-repeat; 
} 

}
.linkedin-link {
    display: inline-block; 
    position: relative; 
}

.linkedin-link::before {
    content: ""; 
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent ; 
    z-index: -1; 
}

.linkedin-link:hover::before {
    background-color: var(--color); 
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}
.instagram-link {
    display: inline-block; 
    position: relative; 
	
	
}

.instagram-link::before {
    content: ""; 
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent; 
    z-index: -1; 
}

.instagram-link:hover::before {
    background-color: var(--color); 
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}
.codethewordld-io{
	margin: 0 10 px;
	border-radius:100%
	box-sizing: borde-box;
	background: #fff;
	width:150px;
	height:150px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration: none;
	transition: 0.5s;
	background: rgba(0,0,0,0);
	color: var(--color);
	font-size: 2.5em;
	-webkit-box-reflect:below 5px linear-gradient(to bottom, rgba(0,0,0,0,0), rgba(0,0,0,0,4));
}
a:hover {
	background:var(--color);
	color: #050801;
	box-shadow: 0 0 5px var(-- color),
	0 0 100px var(--color),
	0 0 100 px var (--color),
	0 0 100px var(--color);
	
}
#f_menu_d {
    background-color: #0949b0;
    height: 10px;
    text-align: center;
    color: white;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.animated-text {
    display: flex; /* Размещаем ссылки внутри блока горизонтально */
    justify-content: space-between; /* Равномерно распределяем пространство между ссылками */
    align-items: center; /* Выравниваем ссылки по вертикали */
    height: 300%; /* Чтобы ссылки занимали всю высоту блока */
}

.animated-text a {
    display: block;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
	
}

.animated-text:hover a {
    opacity: 1;
    transform: translateX(20px); /* Устанавливаем начальное смещение для первой ссылки */
    transition-delay: 0s; /* Начинаем анимацию сразу */
}

.animated-text:hover a:nth-child(2) {
    transition-delay: 0.1s; /* Задержка для второй ссылки */
}

.animated-text:hover a:nth-child(3) {
    transition-delay: 0.2s; /* Задержка для третьей ссылки */
}

/* Продолжаем добавлять задержку для каждой ссылки */
.animated-text:hover a:nth-child(4) {
    transition-delay: 0.3s;
}

.animated-text:hover a:nth-child(5) {
    transition-delay: 0.4s;
}

.animated-text:hover a:nth-child(6) {
    transition-delay: 0.5s;
}

.animated-text:hover a:nth-child(7) {
    transition-delay: 0.6s;
}

.animated-text:hover a:nth-child(8) {
    transition-delay: 0.7s;
}

.animated-text:hover a:nth-child(9) {
    transition-delay: 0.8s;
}

.animated-text:hover a:nth-child(10) {
    transition-delay: 0.9s;
}


#s_menu_d{
	background-color:#c7c7c7;
	 color:white;
}
#logo{
	background-color:#c7c7c7;
	margin:00px;
    padding:5px;
	 color:white;
}

ul#f_menu {
    margin:00px;
    padding:00px;
    /*position:absolute;*/
    right:0px;
	 color:white;
}

ul#s_menu {
    margin:00px;
    padding:00px;
    /*position:absolute;*/
    right:0px;
	 color:white;
}
ul#s_menu li {
    display:inline;
    margin-left:40px;
	 color:white;
}
ul#s_menu li a {
	margin:10px;
    text-decoration:none;
   
	 color:white;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:bold;
    text-transform:uppercase;
}

ul#f_menu li {
    display:inline;
    margin-left:12px;
	 color:white;
}

ul#f_menu li a {
	margin:10px;
    text-decoration:none;
    color:white;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    text-transform:uppercase;
	
}
h2{
	margin:00px;
    padding:00px;
	 color:white;
}
td{
	vertical-align:top;
	 color:white;
}

#f_menu_d{
	padding:30px;
	 color:white;
	
}
#f_column{

	margin:00px;
    padding:10px;
	width:50%;
	 color:white;
}
#s_column{
	margin:00px;
    padding:10px;
	width:25%;
	 color:white;
}
#th_column{
	margin:00px;
    padding:10px;
	width:25%;
	 color:white;
}
#f_fc{
	width:20%;
	 color:white;
}
#s_fc{
	width:80%;
	text-align:center;
	 color:white;
}
.Da{color: white;}
.footer{
	background-color:#0949b0;
	color:white;
	height:140px;
	
}
.pch3{
	height:50px;
	width:auto;
}
.pch4{
	height:50px;
	width:auto;
}
.pch5{
	height:50px;
	width:auto;
}
.pch6{
	height:50px;
	width:auto;
}
.pch7{
	height:50px;
	width:auto;
}
.pch8{
	height:50px;
	width:auto;
}
.codethewordld-io{
	height:30px;
	width:auto;

}

.instagram-icon {
    width: 30px; /* Уменьшаем ширину изображения */
    height: 30px; /* Уменьшаем высоту изображения */
}
.linkedin-icon {
    width: 30px; /* Уменьшаем ширину изображения */
    height: 30px; /* Уменьшаем высоту изображения */
}
.codethewordld-io {
    margin-top: -50px; /* поднимаем блоки с изображениями немного выше */
	display: inline-block; /* делаем блоки с изображениями строчно-блочными элементами */
    margin-right: 10px; /* добавляем немного отступа между изображениями */
    vertical-align: middle; /* выравниваем изображения по вертикали */
}
.about-me {
    margin-top: -20px; /* Регулирует вертикальное расстояние */
    text-align: center; /* Центрирует текст */
    font-family: Arial, sans-serif; /* Пример шрифта */
    font-size: 14px; /* Пример размера шрифта */
}

.about-me a {
    color: #000; /* Цвет текста ссылки */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
}

.about-me a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
